.Logo {
    background-color: white;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 8px;
    height: 80%;
}

.Logo img{
    height: 35px;
    transform: scale(1.3);
}

@media (max-width: 499px) {
    .Logo img{
        height: 11;
    }
}
